spring:
  application:
      name: activityservice
#  data:
#    mongodb:
#      uri: mongodb://localhost:27017/aiactivityfitness

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 8082
  servlet:
    context-path: /api/v1

