spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8181/realms/fitness-app/protocol/openid-connect/certs
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service-users
              uri: lb://USER-SERVICE
              predicates:
                - Path=/api/users/**

            - id: user-service-auth
              uri: lb://USER-SERVICE
              predicates:
                - Path=/api/auth/**

            - id: activity-service
              uri: lb://ACTIVITY-SERVICE
              predicates:
                - Path=/api/activities/**

            - id: ai-service
              uri: lb://AI-SERVICE
              predicates:
                - Path=/api/recommendations/**
server:
  port: 8080
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1

#logging:
#  level:
#    org.springframework.cloud.gateway: TRACE
#    org.springframework.cloud.gateway.route.RouteDefinitionRouteLocator: INFO
#    reactor.netty.http.client: DEBUG